alembic==1.16.5
bcrypt==3.2.0
email-validator==2.3.0
fastapi==0.128.8
google-genai==1.47.0
httpx==0.28.1
onnxruntime==1.19.2
passlib==1.7.4
Pillow==11.3.0
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic-settings==2.11.0
python-dotenv==1.2.1
python-jose[cryptography]==3.5.0
python-multipart==0.0.20
rembg==2.0.61
SQLAlchemy==2.0.47
uvicorn==0.39.0
